<div class="container flex-column" style="align-items: center;z-index: 1;">
    <img id="logo_title" alt="ドラゴン古代遺跡" src="/assets/imgs/logo_title.gif" />
    <br />
    <div class="boxed-content flex-column transparant-dark-bg padding-xlarge"
        style="min-width: fit-content;box-sizing: border-box;z-index: 1;">
        <ul>
            <!--街 へ 行 く-->
            <li><a routerLink="begin" replaceUrl="true">{{"Game.Menu.StartGame" | translate |
                    separateText}}</a></li>
            <small>Last login：{{waitM}} minutes ago
                <a *ngIf="debug" routerLink="." (click)="resetLoginTime()">
                    [Reset Time]
                </a>
            </small>
            <!--仔 竜 を 自 然 に 帰 す-->
            <li><a routerLink="delete">{{"Game.Menu.Retire" | translate | separateText}}</a></li>
            <!--音 楽 再 生 の 設 定(現在：MUSIC ON)-->
            <li><a (click)="toggleAudio()">
                    {{"Game.Menu.Audio" | translate | separateText}}：
                    {{isAudioON ? 'ON':'OFF'}}
                </a></li>
            <!--ゲ ー ム を 終 わ る-->
            <li><a routerLink="/" replaceUrl="true">
                    {{"Game.Menu.Leave" | translate | separateText}}
                </a>
            </li>
            <ng-container *ngIf="debug">
                <br />
                <span>Test Menu</span>
                <hr />
                <li><a routerLink="debug_events">Events</a></li>
                <li><a routerLink="debug_audio">Audio</a></li>
                <li><a routerLink="debug_battle">Battle</a></li>
            </ng-container>
        </ul>
    </div>
</div>

<!-- 底下的草皮 -->
<img alt="bg_menu" src="/assets/imgs/bg_menu.gif"
    style="position: absolute; bottom: 0; width: 100%;pointer-events: none;" />