:host {
  background: url(/assets/imgs/bg_chat.jpg) rgba(255,255,255,0.5);
  background-blend-mode: color;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  overflow: auto;
  gap: 8px;
}