<div class="container flex-column" style="align-items: center;">
    <br />
    <b style="color:#ffaa88">{{'Game.Retire.Title' | translate | separateText}}</b>
    <br />
    <div class="boxed-content flex-column transparant-dark-bg" style="padding: 16px;">
        <p>{{'Game.Retire.Warning1' | translate}}</p>
        <p style="color: red;">{{'Game.Retire.Warning2' | translate}}</p>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="boxed-content flex-column transparant-dark-bg padding-large"
        style="width: max(50%, 30dvh); max-width: 75%; z-index: 1;">
        <p>{{'Game.Retire.Confirm' | translate}}</p>

        <div class="flex-row" style="justify-content: end;">

            <a routerLink="../menu">
                <img class="full-width" alt="NO" src="/assets/imgs/btn_no.gif" />
            </a>
            <a (click)="Delete()" [ngClass]="{disabled: countDown > 0}">
                <img class="full-width" alt="OK" src="/assets/imgs/btn_ok.gif" />
            </a>

            @if (countDown > 0) {
            <span style="color:red;">[{{countDown}}]</span>
            }
        </div>
    </div>
</div>

<img alt="bg_menu" src="/assets/imgs/bg_menu.gif" style="position: absolute; bottom: 0; width: 100%;" />