<div class="container flex-column" style="align-items: center;">
    <br />
    <b style="color:#ffaa88">遺 跡 管 理 局</b>
    <br />
    <div class="boxed-content flex-column dark-bg" style="padding: 16px;">
        <p>こちらでは、残念ながら、忙しくて孤竜を育てきれない方、育成が負担になってしまった方のための手続きを行っています。</p>
        <br />
        <p>里親の権利を放棄される際には、こちらへサインをお願いします。</p>
        <p>孤竜は自然に帰され、その中で短い生涯を終えることでしょう。</p>
        <p style="color: red;">あなたのもとを離れた孤竜は、二度と戻ってはきません。</p>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="boxed-content flex-column dark-bg" style="padding: 16px;width: 50%;min-width: 192px;">
        <p>サインしますか？</p>
        <div class="flex-row" style="justify-content: end;">
            <a routerLink="/">
                <img alt="OK" src="/assets/imgs/btn_ok.gif" />
            </a>
            <a routerLink="../menu">
                <img alt="NO" src="/assets/imgs/btn_no.gif" />
            </a>
        </div>
    </div>
</div>

<img alt="bg_menu" src="/assets/imgs/bg_menu.gif" style="position: absolute; bottom: 0; width: 100%;" />