<div class="container flex-column gap-large padding gap-large full-height">
    <!-- 分頁-->
    <div id="RayTab" class="flex-row gap-large">
        <button (click)="tab = 'item';selectedItem = null">所持物</button>
        <!-- 姿變更在無Turn時無法使用 -->
        <button [disabled]="turn === 0" (click)="tab = 'skin';selectedItem = null">姿變更</button>
    </div>
    <!-- 分頁內容 -->
    <div id="RayTabContent" class="flex-column padding-large full-height full-width gap-large" style="overflow: auto;">
        <ng-container *ngIf="tab === 'item'">
            <b>使用するアイテムを選択してください。</b>

            <div class="padding-large gap full-width full-height game-bg boxed-content" style="overflow: auto;">
                <label *ngFor="let i of items" class="flex-row boxed-content padding gap-large game-bg"
                    [ngClass]="{selected: selectedItem === i}" (click)="selectedItem = i" (keypress)="selectedItem = i">
                    <input type="radio" name="selectedItem" />
                    <div class="flex-column">
                        <p>{{('Data.Item.' + (i) + '.Title') | translate}}</p>
                        <small [innerHTML]="('Data.Item.' + (i) + '.Description') | translate"></small>
                    </div>
                </label>
            </div>
        </ng-container>
        <ng-container *ngIf="tab === 'skin'">
            <b>契約済み一覧です。変更したい姿を選択して下さい。</b>

            <div class="padding-large gap full-width full-height game-bg boxed-content" style="overflow: auto;">
                <label *ngFor="let i of skins" class="flex-row boxed-content padding gap-large game-bg"
                    [ngClass]="{selected: selectedItem === i}" (click)="selectedItem = i" (keypress)="selectedItem = i">
                    <input type="radio" name="selectedItem" />
                    <div class="flex-column">
                        <p>{{('Data.DragonType.' + (i) + '.Title') | translate}}</p>
                        <small [innerHTML]="('Data.DragonType.' + (i) + '.Description') | translate"></small>
                    </div>
                </label>
            </div>
        </ng-container>
    </div>
    <!-- 已選中的項目-->
    <hr />
    <!-- 動作-->
    <div id="RayActions" class="flex-row gap-large" style="justify-content: space-between;">
        <button routerLink="../dragongame">{{"Actions.Back" | translate | separateText}}</button>
        <button [disabled]="!selectedItem" (click)="tab = 'skin'">使用</button>
    </div>
</div>