:host {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(/assets/imgs/bg_ryu.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    color: white;
    padding: 8px 8px 32px 8px;
    box-sizing: border-box;
}

div#RayTab button,
div#RayActions button {
    width: 100%;
    height: 5dvh;
    background: #333333;
    color: white;
    line-height: 0;
}

label.selected,
label:active {
    filter: brightness(1.5);
}
label.disabled {
    filter: brightness(0.5);
}

div#RayTabContent label.notOwned {
    filter: brightness(0.5);
    overflow: auto;
}

div#RayStatus {
    overflow: auto;
    word-break: keep-all;
    min-width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}