<div class="container flex-column" style="align-items: center;">
    <img alt="index_top" src="/assets/imgs/index/index_top.gif" />
    <div class="padding-large flex-column" style="align-items: center;">
        <br><br>
        <span>
            {{'Register.Description' | translate}}
        </span>
        <br>

        <b class="lage-font" style="color: #ffaa88">
            {{'Register.RegisterForm' | translate |separateText}}
        </b>
        <br>
        <form class="boxed-content flex-column gap padding-large" style="width: 100%; max-width: 480px;"
            [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            @if (!newGamePlus) {

            <label for="yourName">{{"Register.Yourname" | translate | separateText}} (Max 8)</label>
            <input type='text' id="yourName" name='yourName' formControlName="yourName" maxlength='8' required>
            }
            <label for="dragonName">{{"Register.Dragonname" | translate | separateText}} (Max 8)</label>
            <input type='text' id="dragonName" name='dragonName' formControlName='dragonName' maxlength='8' required>

            @if (!newGamePlus) {
            <label for="ID">{{"Login.ID" | translate | separateText}} (Max 32)</label>
            <input type='text' id="ID" name='ID' formControlName='ID' maxlength='32' required>

            <label for="password">{{"Register.Password" | translate | separateText}}
                ({{registerForm.value.password?.length || 0}} / Min 4)</label>
            <input type='password' autocomplete="new-password" id="password" name='password' formControlName='password'
                maxlength='64' minlength="4" required>
            }
            <span>{{"Register.DragonGender" | translate | separateText}}</span>
            <div class="flex-row gap">
                <input type='radio' name='gender' formControlName='gender' id="genderM" value='M' required>
                <label for="genderM">{{'Game.DragonGame.Male' | translate}}</label>
                <input type='radio' name='gender' formControlName='gender' id="genderF" value='F' required>
                <label for="genderF">{{'Game.DragonGame.Female' | translate}}</label>
            </div>
            <hr />
            @if ((isRegistered && newGamePlus) || !newGamePlus) {
            <button type="submit" [disabled]="registerForm.invalid">
                {{"Register.Submit" | translate |separateText}}
            </button>
            }
            <br />
            <button type="button" [disabled]="registerForm.invalid" (click)="onSubmit(true)">
                {{"Register.RegisterToLocal" | translate |separateText}}
            </button>
        </form>
        <br>

        @if (!newGamePlus) {
        <small>[{{'Register.Hint.DontForgetPassword' | translate}}]</small>
        <br>
        }
        <a routerLink=".." replaceUrl="true">{{"Actions.PrevPage" | translate | separateText}}</a>
        <br>
    </div>
</div>