<div class="container flex-column" style="align-items: center;">
    <img alt="index_top" src="/assets/imgs/index/index_top.gif" />
    <div class="padding-large flex-column" style="align-items: center;">
        <br><br>
        <span>
            {{'Register.Description' | translate}}
        </span>
        <br>

        <b class="lage-font" style="color: #ffaa88">
            {{'Register.RegisterForm' | translate |separateText}}
        </b>
        <br>
        <form class="boxed-content flex-column gap padding-large" style="width: 100%; max-width: 360px;"
            [formGroup]="registerForm" (ngSubmit)="onSubmit($event)">

            <label for="yourName">{{"Register.Yourname" | translate | separateText}}</label>
            <input type='text' id="yourName" name='yourName' formControlName="yourName" maxlength='6' required>

            <label for="dragonName">{{"Register.Dragonname" | translate | separateText}}</label>
            <input type='text' id="dragonName" name='dragonName' formControlName='dragonName' maxlength='6' required>

            <label for="password">{{"Register.Password" | translate | separateText}}
                ({{registerForm.value.password?.length || 0}} / Min 4)</label>
            <input type='password' autocomplete="new-password" id="password" name='password' formControlName='password'
                maxlength='64' minlength="4" required>

            <span>{{"Register.DragonGender" | translate | separateText}}</span>
            <div class="flex-row gap">
                <input type='radio' name='gender' formControlName='gender' id="genderM" value='M' required>
                <label for="genderM">{{'Game.DragonGame.Male' | translate}}</label>
                <input type='radio' name='gender' formControlName='gender' id="genderF" value='F' required>
                <label for="genderF">{{'Game.DragonGame.Female' | translate}}</label>
            </div>
            <hr />
            <button type="submit" [disabled]="registerForm.invalid">
                {{"Register.Submit" | translate |separateText}}
            </button>

        </form>
        <br>
        <small>[{{'Register.Hint.DontForgetPassword' | translate}}]</small>
        <br>
        <a routerLink="..">{{"Actions.PrevPage" | translate | separateText}}</a>
        <br>
    </div>
</div>