<div class="container full-height padding" style="overflow: hidden;">
    <!-- 龍與背景-->
    <div id="bg" #bg style="background-image: url(/assets/imgs/bg_home.jpg);">

        <div #dialog class="full-width full-height"
            style="box-sizing: border-box;padding-top: 32px; padding-bottom: 32px;text-align: left; opacity: 1;">
        </div>
    </div>


    <div #endroll class="flex-column full-width" ID='endroll'
        style='overflow: hidden;opacity: 0;align-items: center; text-align: center;'>
        <B>
            <span class="large-font">- 竜 の 風 詩 ２ -</span>
        </B>
        <br><br>

        <p class="small-font">
            S T A F F
        </p>
        <br>
        <br>

        <div class="small-font">
            <span style="color:#ff8800">∮ 世 界 設 計 / 基 本 構 成 ∮</span><br>
            竜の風詩 第3章<br>
            <br>
            <br>
            <span style="color:#ff8800">∮ メ イ ン シ ナ リ オ ∮</span><br>
            ＰＬＵＭＰ　ＤＯＧ<br>
            <br>
            <br>
            <span style="color:#ff8800">∮ シ ナ リ オ 補 助 ∮</span><br>
            闇竜・四角正<br>
            <br>
            <br>
            <span style="color:#ff8800">∮ 文 章 校 正 ∮</span><br>
            きとら<br>
            <br>
            <br>
            <span style="color:#ff8800">∮ イ ベ ン ト メ ッ セ ー ジ ∮</span><br>
            グラン<br>
            ユトラル<br>
            <br>
            <br>
            <span style="color:#ff8800">∮ ド ラ ゴ ン グ ラ フ ィ ッ ク ∮</span><br>
            ＧＷ<br>
            ツカモト<br>
            青鵞鳥<br>
            G.River<br>
            大巳たかむら<br>
            がふたま<br>
            パピルス<br>
            カゲトラ<br>
            きとら<br>
            ユウホ<br>
            牙竜<br>
            <br>
            <br>
            <span style="color:#ff8800">∮ キ ャ ラ ク タ グ ラ フ ィ ッ ク ∮</span><br>
            パピルス<br>
            <br>
            <br>
            <span style="color:#ff8800">∮ ム ー ビ ー ∮</span><br>
            白夜<br>
            <br>
            <br>
            <span style="color:#ff8800">∮ オ リ ジ ナ ル 曲 ∮</span><br>
            海竜<br>
            かいらる<br>
            <br>
            <br>
            <span style="color:#ff8800">∮ フ リ ー 素 材 提 供 ∮</span><br>
            鷹月ぐみな情報局２号館<br>
            　みくしぎ まさき作<br>
            　BLACKRAY作<br>
            TAM Music Factory<br>
            WEB WAVE LIB<br>
            It's Cool YOME<br>
            Aqua Boogie Nation.<br>
            Sound Creator eyra<br>
            著作権フリーの音楽の部屋<br>
            Abandoned Dead<br>
            VividCar.com<br>
            Wired Explorer<br>
            <br>
            <br>
            <span style="color:#ff8800">∮ メ イ ン プ ロ グ ラ ム ∮</span><br>
            牙竜<br>
            <br>
            <br>
            <span style="color:#ff8800">∮ デ ー タ ベ ー ス プ ロ グ ラ ム ∮</span><br>
            Blue Dragon<br>
            <br>
            <br>
            <span style="color:#ff8800">∮ ゲ ー ム バ ラ ン ス 調 整 ∮</span><br>
            紅竜<br>
            CRIMSON<br>
            <br>
            <br>
            <span style="color:#ff8800">∮ ス ペ シ ャ ル サ ン ク ス ∮</span><br>
            リオル<br>
            ドラグナー<br>
            砕牙<br>
            <br>
            <br>
            <span style="color:#ff8800">∮ プ ロ デ ュ ー ス ∮</span><br>
            ドラゴンインサイド<br>
            <br>
            <br>
            <span style="color:#ff8800">∮ 企 画 / 制 作 ∮</span><br>
            リンドブルムプロジェクト<br>
            <br />
            <hr />
            <br />
            <span style="color:#ff8800">∮ リメイク ∮</span><br>
            アイ．フライ<br>
        </div>

    </div>

</div>