<div class="container flex-column full-height">
  <div id="map-container" class="full-height">

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 1020 716" preserveAspectRatio="xMinYMin meet">
      <defs>
        <!-- 一般地點 -->
        <linearGradient id="point1" x1="0%" x2="100%" y1="0%" y2="100%">
          <stop offset="0%" stop-color="#90CAF9CC" />
          <stop offset="100%" stop-color="#0D47A1FF" />
        </linearGradient>
        <!-- 地城 -->
        <linearGradient id="pointCave" x1="0%" x2="100%" y1="0%" y2="100%">
          <stop offset="0%" stop-color="#8D6E63CC" />
          <stop offset="100%" stop-color="#FF6F00FF" />
        </linearGradient>
        <!-- 重要地點 -->
        <linearGradient id="pointImportant" x1="0%" x2="100%" y1="0%" y2="100%">
          <stop offset="0%" stop-color="#FFEE58CC" />
          <stop offset="100%" stop-color="#F57F17FF" />
        </linearGradient>
        <!-- 尚未完成 -->
        <linearGradient id="pointNotReady" x1="0%" x2="100%" y1="0%" y2="100%">
          <stop offset="0%" stop-color="#78909CCC" />
          <stop offset="100%" stop-color="#263238FF" />
        </linearGradient>
        <!-- 家 -->
        <linearGradient id="pointHome" x1="0%" x2="100%" y1="0%" y2="100%">
          <stop offset="0%" stop-color="#A5D6A7CC" />
          <stop offset="100%" stop-color="#1B5E20FF" />
        </linearGradient>
      </defs>
      <image width="1020" height="716" xlink:href="/assets/imgs/worldMap.jpg" />
      @for (p of locations; track $index) {
      <circle attr.cx="{{p.x}}" attr.cy="{{p.y}}" r="16" attr.fill="url(#{{p.fill}})" attr.stroke="{{p.stroke}}"
        stroke-width="4"
        (click)="GoTo(p.location.name, p.location.turn, p.location.url, p.location.bioCheck, p.location.state);"
        (keypress)="GoTo(p.location.name, p.location.turn, p.location.url, p.location.bioCheck, p.location.state);" />
      }
    </svg>
  </div>
  <!-- 動作列-->
  <div class="game-bg padding-large full-width">
    <div class="flex-row full-width" style="justify-content: space-between; align-items: center;">
      <button id="Back" class="padding-large" routerLink="../dragongame" [replaceUrl]="true" style="width: 25%;">
        {{"Actions.Back" | translate | separateText}}</button>
      <p>
        <i class="fa-solid fa-battery-full"></i>
        {{turn}} {{'Noun.Turn' | translate}}
      </p>
    </div>
    <!-- 說明文字-->
    <small class="min-480">
      {{'Game.Map.Hint' | translate}}
    </small>
    <br />
  </div>
</div>