<div class="container flex-column">
  <img alt="index_top" src="/assets/imgs/index/index_top.gif" />
  <h3>FAQ</h3>

  <div class="boxed-content flex-column" style="padding: 16px;">
    <details>
      <summary>(IOS) 為何我的遊戲在接耳機時才有聲音？ / Why my game only have sounds when headphones are connected?</summary>
      iPhone / iPad的靜音模式會使遊戲無聲音，請關閉後才能從喇叭發出聲音。
      <br />
      iPhone / iPad has silent mode, please turn off to play sounds from the speaker.
    </details>

  </div>

  <br />
  <a routerLink=".." replaceUrl="true">{{"Actions.PrevPage" | translate | separateText}}</a>
</div>
<br />