<div class="container flex-column">
  <img alt="index_top" src="/assets/imgs/index/index_top.gif" />
  <h3>FAQ</h3>

  <div class="boxed-content flex-column" style="padding: 16px;">
    <details>
      <summary>[IOS] 為何我的遊戲在接耳機時才有聲音？ / Why my game only have sounds when headphones are connected?</summary>
      iPhone / iPad的靜音模式會使遊戲無聲音，請關閉後才能從喇叭發出聲音。
      <br />
      iPhone / iPad has silent mode, please turn off to play sounds from the speaker.
    </details>
    <details>
      <summary>[Account] 我可以使用舊版 (game-can版) 存檔嗎？ / Can I login with old version (game-can) account?</summary>
      不行，因新舊版使用完全不同的架構與伺服器，以及新伺服器並沒有轉移舊版存檔。
      但後續不排除開發單向搬移存檔的可能性。
      <br />
      No, the new version use a totally different framework and server.
      And I don't migreate saves from old server so the server is fresh new.
      Migration is still to be discussed, maybe later...?
    </details>
    <details>
      <summary>[APP] 我可以將遊戲下載下來嗎? / Can I download the game?</summary>
      可以，請參照影片中的教學將網站安裝成App。
      Yes, you can install the website as an App, please follow the video below.
      <video controls preload="metadata">
        <source src="/assets/video/AppInstall.mp4" type="video/mp4">
      </video>
    </details>

  </div>

  <br />
  <a routerLink=".." replaceUrl="true">{{"Actions.PrevPage" | translate | separateText}}</a>
</div>
<br />