<div class="container flex-column">
  <img alt="index_top" src="/assets/imgs/index/index_top.gif" />
  <h3>FAQ</h3>

  <div class="boxed-content flex-column" style="padding: 16px;">
    <details>
      <summary>[IOS] 為何我的遊戲在接耳機時才有聲音？ / Why my game only have sounds when headphones are connected?</summary>
      iPhone / iPad的靜音模式會使遊戲無聲音，請關閉後才能從喇叭發出聲音。
      <br />
      iPhone / iPad has silent mode, please turn off to play sounds from the speaker.
    </details>
    <br />
    <details>
      <summary>[Account] 我可以使用舊版 (ゲームの缶詰) 存檔嗎？ / Can I login with old version (game-can) account?</summary>
      <a routerLink="/migrate-gamecan" replaceUrl>請前往此處 (Please follow this link)</a>
      <br />
      請注意於存檔搬移後，新版本的存檔<span style="color:red;">並不會</span>回存至舊版，同時相同存檔可以搬移不只一次，但無法將帳號搬移到現有的ID.<br />
      Please be careful that saves in new version <span>won't be</span> synced to old version, also you can migrate the
      save file for more than one time,
      But you can't overwrite pre-existed IDs.
    </details>
    <br />
    <details>
      <summary>[APP] 我可以將遊戲下載下來嗎? / Can I download the game?</summary>
      可以，請參照影片中的教學將網站安裝成App。
      <br />
      Yes, you can install the website as an App, please follow the video below.
      <video controls preload="metadata">
        <source src="/assets/video/AppInstall.mp4" type="video/mp4">
      </video>
    </details>
    <br />
    <details>
      <summary>我想回報BUG！I want to report a bug!</summary>
      <a href="https://x.com/xFly_Dragon" target="_blank">
        可於X[Twitter]私訊我！可以的話請預先描述遇到的問題，有截圖更好！<br />
        You can send me a message on X[Twitter]!<br />
        Please describe your issues and it will be better to include screenshots!
      </a>
    </details>
  </div>

  <br />
  <a routerLink=".." replaceUrl="true">{{"Actions.PrevPage" | translate | separateText}}</a>
</div>
<br />