<div class="container flex-column">
    <img alt="index_top" src="/assets/imgs/index/index_top.gif" />
    <small>(病竜保護 支援計画 関連記事)</small>

    <div class="boxed-content flex-column" style="padding: 16px;">
        <b>異 世 界 間 ボ ラ ン テ ィ ア ネ ッ ト と は ？</b><small>　　(峰竜社新聞より)</small><br>
        <div class="flex-row column-480">
            <div>
                <img alt="index_Doc01" src="/assets/imgs/index/index_Doc01.jpg" />
            </div>
            <div class="flex-column">
                <small>
                    　私たちの世界は、あなたたちの世界から遥か３億光年離れた位置にあります。<br><br>
                    　環境は地球と似ており、人間を含め、竜や獣人といった多種多様な生物が存在しています。<br>
                    　本来、通信すらやり取りできない距離ですが、私たちの世界に残存する古代遺跡から
                    発掘されたアーティファクトにより、量子を利用した通信が可能になったのです。<br><br>
                    　この画期的な通信システムによって、私たちはこのサイトを通じ、そちら側のネットワーク、すなわちインターネットと結ばれ、互いに交信することができるのです。<br clear="ALL">
                </small>
                <br />
                <a routerLink="/">[＜- 前 ペ ー ジ へ 戻 る]</a>
            </div>
        </div>

    </div>
</div>