<div class="container">
    <div class="boxed-content game-bg full-width full-height flex-column padding gap" style="overflow: auto;">
        <h2>Audio Test</h2>

        <span>BGM</span>
        <hr />
        <button (click)="playBGM('tam06')">tam06</button>
        <button (click)="playBGM('tam09')">tam09</button>
        <button (click)="playBGM('midnight')">midnight</button>
        <button (click)="playBGM('powder')">powder</button>
        <button (click)="playBGM('victim')">victim</button>
        <button (click)="playBGM('ryu_kazauta')">ryu_kazauta</button>
        <button (click)="playBGM('桜舞風')">桜舞風</button>
        <br />
        <br />
        <span>SE</span>
        <hr />
        <br />
        <br />
        <a routerLink="../" style="text-align: center;">{{'Actions.PrevPage' | translate}}</a>
    </div>
</div>