<div class="container">
    <div class="boxed-content game-bg full-width full-height flex-column padding-large gap" style="overflow: auto;">
        <h2>Audio Test</h2>

        <span>BGM</span>
        <hr />
        <button (click)="playBGM('music01')">music01</button>
        <button (click)="playBGM('music02')">music02</button>
        <button (click)="playBGM('music04')">music04「jazz」(資金調度)</button>
        <button (click)="playBGM('music05')">music05「粉雪」</button>
        <button (click)="playBGM('music07')">music07 (進度51 - 遠足取消)</button>
        <button (click)="playBGM('music08')">music08 (一般戰鬥)</button>
        <button (click)="playBGM('music09')">music09 (戰鬥失敗)</button>
        <button (click)="playBGM('music07')">music10 (同07)</button>
        <button (click)="playBGM('music11')">music11 (ねこイベント)</button>
        <button (click)="playBGM('music12')">music12 (龍死病發現 / 檢診失敗)</button>
        <button (click)="playBGM('music13')">music13「命ゆくもの、星にくるもの」</button>
        <button (click)="playBGM('music15')">music15 (ドラゴンの古代遺跡イベント / cave00)</button>
        <button (click)="playBGM('music16')">music16 (cave01)</button>
        <button (click)="playBGM('music17')">music17 「プレリュード」(cave02)</button>
        <button (click)="playBGM('music18')">music18「アツィルトの森」</button>
        <button (click)="playBGM('music19')">music19 (発作、ハッキング)</button>
        <button (click)="playBGM('music20')">music20「midnight」</button>
        <button (click)="playBGM('music21')">music21「春の向日葵」</button>
        <button (click)="playBGM('music22')">music22「victim」</button>
        <button (click)="playBGM('music23')">music23 (最期)</button>
        <button (click)="playBGM('music24')">music24(研究者的小屋)</button>
        <button (click)="playBGM('music25')">music25(death3)</button>
        <button (click)="playBGM('music26')">music26「battle02」</button>
        <button (click)="playBGM('music27')">music27「battle01」</button>
        <button (click)="playBGM('music28')">music28 (victim2)</button>
        <button (click)="playBGM('music29')">music29「桜舞風」</button>
        <button (click)="playBGM('music30')">music30「battle」</button>
        <button (click)="playBGM('music31')">music31(battle list)</button>
        <button (click)="playBGM('music32')">music32(vsレギオン 前)</button>
        <button (click)="playBGM('music33')">music33「踊れ我が手で」(Lastboss)</button>
        <button (click)="playBGM('music34')">music34「いつの日かめぐり逢う夢」(ウリア大砂漠地帯 after)</button>
        <button (click)="playBGM('music35')">music35(ウリア大砂漠地帯)</button>
        <button (click)="playBGM()">STOP</button>
        <br />
        <br />
        <span>SE</span>
        <hr />
        <button (click)="playSE('snd01')">snd01「HIT」</button>
        <button (click)="playSE('snd02')">snd02「HIT2」</button>
        <button (click)="playSE('snd03')">snd03「サラ平原」</button>
        <button (click)="playSE('snd04')">snd04「メッセージ」</button>
        <button (click)="playSE('snd05')">snd05「入侵メッセージ」</button>
        <button (click)="playSE('snd07')">snd07「通信開始」</button>
        <button (click)="playSE('snd08')">snd08「回復」</button>
        <button (click)="playSE('snd09')">snd09「開けて」</button>
        <button (click)="playSE('snd10')">snd10「選択」</button>
        <button (click)="playSE('snd11')">snd11「walk」</button>
        <button (click)="playSE('snd12')">snd12「通信エラー」</button>
        <button (click)="playSE('snd15')">snd15「GET」</button>
        <button (click)="playSE('snd16')">snd16「海」</button>
        <button (click)="playSE('snd17')">snd17「トピリアの森」</button>
        <button (click)="playSE('snd18')">snd18「神獸廟」</button>
        <button (click)="playSE('snd19')">snd19「實驗室」</button>
        <button (click)="playSE()">STOP</button>
        <br />
        <br />
        <a routerLink="../" style="text-align: center;">{{'Actions.PrevPage' | translate}}</a>
    </div>
</div>