:host {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(/assets/imgs/bg_ryu.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    color: white;
    contain: content;
}

/** 孤龍 */
div#Ray1 {
    width: 100%;
    height: 100%;
    text-align: center;
    transform: scaleY(1.0);
    transform-origin: bottom;
    transition: 0.3s ease-in-out;
    pointer-events: all;
    animation-duration: 5s;
}

div#Ray1.pet {
    img {
        transform-origin: bottom;
        animation: 0.1s pet ease-in-out;
    }
}

@keyframes pet {

    0%,
    to {
        transform: scaleY(1.0);
    }

    50% {
        transform: scaleY(0.9);
    }
}

@media screen and (max-width:480px) {

    div#Ray1 {
        position: absolute;
    }

}

/** Home */
div#Ray2 {
    width: 100%;
    background: url(/assets/imgs/bg_home.jpg);
    background-size: cover;
    background-position: center right;
}

div#Ray4 {
    position: absolute;
    width: 50%;
    min-width: fit-content;
    bottom: 0;
    right: 0;
    opacity: 1;
    z-index: 2;
}

div#Ray8 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    padding-top: 8px;
    /** 避開手機端的死角*/
    padding-bottom: 32px;
    container-type: inline-size;
}

div#Ray8 button {
    width: 100%;
    height: 5dvh;
    color: white;
    font-weight: 800;
    font-size: 125%;
}


div#Ray8 button.ready {
    color: yellow;
}


div#RayEX1 button {
    width: 100%;
    height: 5dvh;
    color: white;
    font-weight: 800;
    aspect-ratio: 1;

}

div#Ray8>button:hover {
    filter: brightness(1.25);
}

div#Ray8>button:active {
    filter: brightness(0.8);
}

div#dialog {
    transition: 0.25s ease-out;
    filter: brightness(1);
    width: 100%;
    overflow: auto;
    white-space: pre-line;
}

div#dialog:active {
    filter: brightness(0.9);
}

span#continue-icon {
    position: absolute;
    right: calc(var(--var-base-font-size));
    bottom: calc(var(--var-base-font-size));
}

table[aria-describedby="status-parameters"] td:nth-child(2) {
    text-align: end;
    padding-left: 2vw;
}

img[alt="dragon-cg"] {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: scale-down;
    right: 0;
    bottom: 0;
}

img[alt="char-header"] {
    object-fit: scale-down;
    width: 100%;
}
@media screen and (max-width:480px) {

    img[alt="dragon-cg"] {
        width: 70%;
        height: 100%;
        
    }
}

tr td {
    font-size: 100%;
}

button,
#dialog {
    cursor: pointer;
}

div#DragonGame {
    contain: content;
}

div#DragonGame.disableAllActions {

    div#RayEX1,
    div#Ray1,
    div#Ray8 {
        visibility: hidden;
        pointer-events: none;
    }
}

div#doc {
    position: absolute;
    bottom: 0;
    transition: 0.3s ease-out;
    font-size: small;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    margin: auto;
}

div#doc.active {
    opacity: 1;
}

@media screen and (max-width:480px) {
    div#doc {
        display: none;
    }
}

div#RayEX_SelectEarn {
    position: absolute;
    z-index: 2;
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.5);
}

div#RayEX_Battle {
    position: absolute;
    z-index: 2;
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.5);
}