:host {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(/assets/imgs/bg_ryu.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: auto;
    color: white;
}

/** 育成背景 */
div#Ray1 {
    width: 100%;
}
/** 龍族CG */
div#Ray2 {
    width: 100%;
}
/** 行動, 金錢, NEXT條*/
div#Ray5 {

}

div#Ray8{

}
@media (orientation: portrait) {
    
}
table[aria-describedby="status-parameters"] td:nth-child(2) {
    text-align: center;
}