:host {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(/assets/imgs/bg_ryu.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    color: white;
}

/** 育成背景 */
div#Ray1 {
    width: 100%;
    height: 100%;
    text-align: center;
}

/** Home */
div#Ray2 {
    width: 100%;
    background: url(/assets/imgs/bg_home.jpg);
    background-size: cover;
    background-position: center right;
}

/** 行動, 金錢, NEXT條*/
div#Ray5 div.boxed-content {
    background: #333333;
}

div#Ray8 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 16px;
    container-type: inline-size;
}

div#Ray8 button {
    width: 100%;
    height: 5dvh;
    background: #333333;
    color: white;
    font-weight: 800;
    font-size: 125%;
}

div#RayEX1 button {
    width: 100%;
    height: 5dvh;
    background: #333333;
    color: white;
    font-weight: 800;
    aspect-ratio: 1;

}

div#Ray8>button:hover {
    filter: brightness(1.25);
}

div#Ray8>button:active {
    filter: brightness(0.8);
}
div#dialog {
    white-space: break-spaces;
    overflow-y: auto;
    transition: 0.25 ease-out;
    filter: brightness(1);
}

div#dialog:active {
    filter: brightness(0.9);
}

span#continue-icon {
    position: absolute;
    right: calc(var(--var-base-font-size));
    bottom: calc(var(--var-base-font-size));
    animation: 1s blinking ease-out infinite;
}

@media screen and (max-width: 480px) {}

table[aria-describedby="status-parameters"] td:nth-child(2) {
    text-align: center;
}

img[alt="dragon-cg"] {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

tr td {
    font-size: 100%;
}


@keyframes blinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}