:host {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(/assets/imgs/bg_ryu.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: auto;
    color: white;
}

button {
    color: white;
}

div#bg {
    contain: content;
    height: 50%;
    text-align: center;
    align-items: center;
    background-size: cover;
    background-position: bottom;
    background-color: rgba(0, 0, 0, 1.0);
    background-blend-mode: color;
    justify-content: center;
    transition: 1.5s steps(15);
    
}

div#Ray2 {
   position: absolute;
   left: 0;
   bottom: 0;
}

div#Ray2>img {
    border: 1px solid gray;
}

div#Ray2>img[src=""] {
    display: none;
}

img#dragoncg {
    height: 100%;
    margin: auto;
    transition: 1.5s steps(15);
}

div#dialog {
    white-space: break-spaces;
    overflow-y: auto;
    transition: 0.25 ease-out;
    filter: brightness(1);
}

div#dialog:active {
    filter: brightness(0.9);
}

span#continue-icon {
    position: absolute;
    right: calc(var(--var-base-font-size));
    bottom: 0;
    animation: 1s blinking ease-out infinite;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}