<div class="container flex-column full-height gap">
    <!-- 龍與背景-->
    <div id="bg" #bg>
        <div class="full-width full-height flex-row" style="justify-content: center;">
            <div class="full-width full-height" style="transition: 1s linear; " [ngStyle]="{
                width: dragonCg2 && opacity2 ? '100%' : '0%', 
                display: dragonCg2 ? 'flex' : 'none',
                opacity: opacity2}">
                <img #dragoncgA id="dragoncgA" class="dragoncg" alt="dragon-cg" style="object-position: center;"
                    src="/assets/imgs/dragon/{{dragonCg2}}.gif" />
                @if (emoji2) {
                <img alt="dragon-emoji" src="/assets/imgs/mark_{{emoji2}}.gif"
                    style="position: absolute; right:15%; top: 15%;" />
                }
            </div>
            <div class="full-width full-height" style="transition: 1s linear; " [ngStyle]="{
                    width: dragonCg && opacity ? '100%' : '0%', 
                    display: dragonCg ? 'flex' : 'none', 
                    opacity: opacity}">
                <img #dragoncg id="dragoncg" class="dragoncg" alt="dragon-cg" style="object-position: left;"
                    src="/assets/imgs/dragon/{{dragonCg}}.gif" />
                @if (emoji) {
                <img alt="dragon-emoji" src="/assets/imgs/mark_{{emoji}}.gif"
                    style="position: absolute; right:15%; top: 15%;" />
                }
            </div>


        </div>
        <div id="Ray2">
            <img alt="face" [src]="faceSrc || ''" />
        </div>
    </div>

    <!-- 臉 -->
    <!-- 對話框 -->
    <div class="flex-column full-width padding-large"
        style="height: 100%; contain: content; overflow: auto;padding-bottom: 16px;">
        <div id="dialog" #dialog class="boxed-content game-bg full-width padding-large full-height" style="opacity: 0;"
            (click)="FastForward()" (keyPress)="FastForward()">
            {{content}}
        </div>
        <!-- 提示玩家該繼續點擊的圖示-->
        <span id="continue-icon" class="large-font"
            [ngClass]="{waiting:isWaiting() && dialog.innerText.length > 0 && !contentCompleted}">▼</span>
        <a id="skip" (click)="onSkipClick()" [ngClass]="{disabled: !skipCallBack}">SKIP</a>
    </div>
</div>