<div class="container flex-column full-height gap" style="contain: content;">
    <!-- 龍與背景-->
    <div id="bg" #bg>
        <div class="full-width full-height flex-row" style="justify-content: center;">
            <div class="dragon-cg-container" id="dragoncg2" [ngStyle]="{
                maxWidth: dragonCg2 ? '100%' : '0%',
                maxHeight: dragonCg2 ? '100%' : '0%',
                display: dragonCg2 ? 'block' : 'none',
                opacity: opacity2}">
                <img #dragoncgA class="dragoncg" alt="dragon-cg" attr.dragonType={{dragonCg2}}
                    src="/assets/imgs/dragon/{{dragonCg2}}.gif" />
                @if (emoji2) {
                <img alt="dragon-emoji" src="/assets/imgs/mark_{{emoji2}}.gif"
                    style="position: absolute; right:15%; top: 15%;" />
                }
            </div>
            <div class="dragon-cg-container" id="dragoncg" [ngStyle]="{
                    maxWidth: dragonCg ? '100%' : '0%',
                    maxHeight: dragonCg ? '100%' : '0%',
                    display: dragonCg ? 'block' : 'none',
                    opacity: opacity}">
                <img #dragoncg class="dragoncg" alt="dragon-cg" attr.dragonType={{dragonCg}}
                    src="/assets/imgs/dragon/{{dragonCg}}.gif" />
                @if (emoji) {
                <img alt="dragon-emoji" src="/assets/imgs/mark_{{emoji}}.gif"
                    style="position: absolute; right:15%; top: 15%;" />
                }
            </div>
        </div>
        <!-- 臉 -->
        <div id="Ray2">
            <img alt="face" [src]="faceSrc || ''" />
        </div>
    </div>

    <!-- 小遊戲容器-->
    @if (enableChessGame || enableSnakeGame) {
    <div
        style="position: absolute; width: 100%; height: 100%; top: 0;left: 0; z-index: 1; display: flex; align-items: center; justify-content: center; pointer-events: none;">
        <!-- 劇情使用：黑白棋小遊戲 -->
        @if (enableChessGame) {
        <div id="game-chess" class="game-container flex-column full-height" [ngClass]="{
            active: !chessGameStart && chessGameActive ,start: chessGameStart}">
            <app-chess-game [gameStart]="chessGameStart"></app-chess-game>
        </div>
        }
        <!-- 劇情使用：貪吃蛇小遊戲-->
        @if (enableSnakeGame) {
        <div id="game-snake" class="game-container flex-column full-height" [ngClass]="{
            active: !snakeGameStart && snakeGameActive ,start: snakeGameStart}">
            <app-snake-game [gameStart]="snakeGameStart"></app-snake-game>

        </div>
        }
    </div>
    }
    <!-- 對話框 -->
    <div class="flex-column full-width padding-large"
        style="height: 100%; contain: content; overflow: auto;padding-bottom: 16px;">
        <div id="dialog" #dialog class="boxed-content game-bg full-width padding-large full-height" style="opacity: 0;"
            (click)="FastForward()" (keyPress)="FastForward()">
            {{content}}
        </div>
        <!-- 提示玩家該繼續點擊的圖示-->
        <span id="continue-icon" class="large-font"
            [ngClass]="{waiting:isWaiting() && dialog.innerText.length > 0 && !contentCompleted}">▼</span>
        <!-- <a id="skip" (click)="onSkipClick()" [ngClass]="{disabled: !skipCallBack}">SKIP</a>-->
    </div>

</div>