<div class="container flex-column full-height" style="contain:content;">
  <div style="padding-left:8px">
    Peta bit system 005 [Version 1.00.1525]<BR>
    (C) Copyright 961-968 Poiltop town.<BR>
    Corporation. Garyu Corporation. All rights reserved. Mainsoft is a trademark of Garyu Corporation.<BR>
  </div>
  <br />
  <small id="terminal">
    <!-- 接続を開始しました... -->
    System >{{'Scripts.Welcome.01' | translate}}<BR>
    @if(tick >=2) {
    <!-- インターネットより離脱...ガルトラムネットへ中継します... -->
    System >{{'Scripts.Welcome.02' | translate}}<BR><BR>
    }
    @if(tick >=4) {
    System >CMD 255.816.01.01<BR>
    } @if(tick >=6) {
    System >CMD 811.014.01.01<BR>
    } @if(tick >=8) {
    <!-- 送信データを量子化コンバート中.... -->
    System >{{'Scripts.Welcome.03' | translate}}<BR>
    } @if(tick >=12) {
    <!-- コンバート完了-->
    System >{{'Scripts.Welcome.04' | translate}}<BR><BR>
    } @if(tick >=14) {
    <!-- 量子通信を開始します-->
    System >{{'Scripts.Welcome.05' | translate}}<BR><BR>
    } @if(tick >=15) {
    <!-- ヘリオスフィア・アクセスポイント離脱-->
    System >{{'Scripts.Welcome.06' | translate}}<BR>
    } @if(tick >=16) {
    System >Jmp 1980.100.141.142 x:108A-5 y:020B-A z:0050-0<BR><BR>
    }
    @if(tick >=20) {
    <!-- アルファケンタウリ・アクセスポイント中継-->
    System >{{'Scripts.Welcome.07' | translate}}<BR>
    }
    @if(tick >=21) {
    System >Jmp 0088.555.480.058 x:870R-1 y:539D-5 z:1493-7<BR><BR>
    }
    @if(tick >=25) {
    <!-- ∇∃Å∈∧∈に到着....-->
    System >{{'Scripts.Welcome.08' | translate}}<BR>
    }
    @if(tick >=26) {
    System >Jmp ????.???.???.?? x:????-? y:???-? z:????-?<BR><BR>
    }
    @if(tick >=34) {
    <!-- ポイルトップサーバに接続完了しました...-->
    System >{{'Scripts.Welcome.09' | translate}}<BR>
    }
    System >
  </small>
  @if (tick>=20 && tick<= 34){ <div id="Ray0"
    style="text-align:center; position:absolute; width:100%;height:100%;display: flex;align-items:center;justify-content:center;">
    <div class="flex-column" style="align-items: center;justify-content: center;min-width:50%;background: #000033;">
      <hr>
      <IMG src='/assets/imgs/Winlogo.gif' alt="logo">
      <br>
      <small style="color:#aabbff;" style="word-break: keep-all;">
        {{'Scripts.Welcome.10' | translate}}
      </small>
      <br>
      <span class="large-font" style="word-break: keep-all;"><b>{{'Scripts.Welcome.11' | translate}}</b></span>
      <hr>
    </div>
</div>
}
</div>