<div class="container flex-column full-height" style="contain:content;">
  <div style="padding-left:8px">
    Peta bit system 005 [Version 1.00.1525]<BR>
    (C) Copyright 961-968 Poiltop town.<BR>
    Corporation. Garyu Corporation. All rights reserved. Mainsoft is a trademark of Garyu Corporation.<BR>
  </div>
  <br />
  <small>
    System >接続を開始しました...<BR>
    @if(tick >=2) {
    System >インターネットより離脱...ガルトラムネットへ中継します...<BR><BR>
    }
    @if(tick >=4) {
    System >CMD 255.816.01.01<BR>
    } @if(tick >=6) {
    System >CMD 811.014.01.01<BR>
    } @if(tick >=8) {
    System >送信データを量子化コンバート中....<BR>
    } @if(tick >=12) {
    System >コンバート完了<BR><BR>
    } @if(tick >=14) {
    System >量子通信を開始します<BR><BR>
    } @if(tick >=15) {
    System >ヘリオスフィア・アクセスポイント離脱<BR>
    } @if(tick >=16) {
    System >Jmp 1980.100.141.142 x:108A-5 y:020B-A z:0050-0<BR><BR>
    }
    @if(tick >=20) {
    System >アルファケンタウリ・アクセスポイント中継<BR>
    }
    @if(tick >=21) {
    System >Jmp 0088.555.480.058 x:870R-1 y:539D-5 z:1493-7<BR><BR>
    }
    @if(tick >=25) {
    System >∇∃Å∈∧∈に到着....<BR>
    }
    @if(tick >=26) {
    System >Jmp ????.???.???.?? x:????-? y:???-? z:????-?<BR><BR>
    }
    @if(tick >=34) {
    System >ポイルトップサーバに接続完了しました...<BR>
    }
    System >■
  </small>
  @if (tick>=20 && tick<= 34){ <div id="Ray0"
    style="text-align:center; position:absolute; width:100%;height:100%;display: flex;align-items:center;justify-content:center;">
    <div class="flex-column" style="align-items: center;justify-content: center;min-width:50%;background: #000033;">
      <hr>
      <IMG src='/assets/imgs/Winlogo.gif' alt="logo">
      <br>
      <small style="color:#aabbff;" style="word-break: keep-all;">
        人 と 竜 が 共 に 歩 む 街
      </small>
      <br>
      <span class="large-font" style="word-break: keep-all;"><b>ポ イ ル ト ッ プ へ よ う こ そ</b></span>
      <hr>
    </div>
</div>
}
</div>