<div class="container flex-column">
    <img alt="index_top" src="/assets/imgs/index/index_top.gif" />
    <small>(病竜保護・支援団体代表、ラムダ・ソニティア)</small>

    <div class="boxed-content flex-column" style="padding: 16px;">
        <b>こ の サ イ ト 公 開 の き っ か け</b><br>

        <div class="flex-column">
            <small>
                　現在、私たちの世界では「竜死病」と呼ばれる疾病が蔓延し、甚 大な被害が出ています。 <br/>
                　致死率が非常に高く、感染経路も判明していないこの病は、竜族 のみが感染するという特性があり、現在もなお治療法が確立されていません。 <br/>
                　竜死病は、今でこそ竜族以外には感染しないと分かってはいます が、発生当初から、竜族に対する偏見や差別が広まっており、親を なくした仔竜や、病気を理由に捨てられてしまった仔竜の数も、増加の一途をたどっています。 <br/>
                　そこで、私たち病竜保護協会は、ポイルトップと提携し、親をな くした仔竜たちを保護・育成する試みを始めました。 <br/>
                　ただ、ポイルトップは財政的にも決して豊かではありませんし、私たちボランティアの人手にも限りがあります。<br/>
                　そこで、仔竜たちの精神的なケアを中心に育成の補助をしていただけるボランティアを、この惑星だけでなく、通信可能となった 宇宙全域から募集することになりました。<br/>
                　現在、このサイトをご覧になっているあなたの惑星を含む、３つの星にアクセスポイントを置き、参加してくださる方を募集しております。 <br/>
                　私たちが、それにもまして仔竜たちが、あなたの助けを必要としています。<br/>
                <br/>
                　あなたの力を、貸してください。<br/>
            </small>
            <br />
            <a routerLink="/">[＜- 前 ペ ー ジ へ 戻 る]</a>
        </div>


    </div>
</div>