<div class="container flex-column">
    <img alt="index_top" src="/assets/imgs/index/index_top.gif" />
    <small>(病竜保護・支援団体代表、ラムダ・ソニティア)</small>

    <div class="boxed-content flex-column" style="padding: 16px;">
        <b>{{"IndexDoc2.Title" | translate |separateText}}</b><br>

        <div class="flex-column">
            <small>
                {{"IndexDoc2.Description" | translate:{Poirutoppu:('Noun.Poirutoppu' | translate) } }}
            </small>
            <br />
            <a routerLink="/" replaceUrl="true">{{'Actions.PrevPage' | translate}}</a>
        </div>


    </div>
</div>
<br />
<br />