<div class="container flex-column" style="align-items: center;">
    <img alt="index_top" src="/assets/imgs/index/index_top.gif" />

    <br />
    <b class="lage-font" style="color: #ffaa88">
        {{'Login.Title' | translate | separateText}}
    </b>
    <br>
    <small>{{'Login.Description' | translate}}</small>
    <br />
    <form [formGroup]="loginForm" class="boxed-content flex-column gap padding-large"
        style="width: 100%; max-width: 360px;">

        <label for="id">{{"Login.ID" | translate | separateText}}</label>
        <input id="id" autocomplete="username" name='id' formControlName="id" maxlength='32' required>

        <label for="password">{{"Login.Password" | translate | separateText}}</label>
        <input type='password' autocomplete="current-password" id="password" name='password' formControlName='password'
            maxlength='64' minlength="4" required>
        <hr />
        <button type="button" (click)="Login()" [disabled]="loginForm.invalid">
            {{"Login.LoginAction" | translate | separateText}}
        </button>
        @if (localFileExist) {
        <br />
        <button type="button" (click)="LoginLocal()">
            {{"Login from local" | translate }}
        </button>
        }
        <!-- <button type="button"  (click)="Login()">
            {{"Sign In With Google" | translate}}
        </button> -->
        <br>
    </form>
    <br />
    <a routerLink=".." replaceUrl="true">{{"Actions.PrevPage" | translate | separateText}}</a>
    <br />
</div>