<div class="container flex-column" style="align-items: center;">
    <img alt="index_top" src="/assets/imgs/index/index_top.gif" />

    <br />
    <b class="lage-font" style="color: #ffaa88">
        {{'ログイン' | translate |separateText}}
    </b>
    <br>
    <small>ゲームを続けるのに必要な情報を入力下さい。</small>
    <br />
    <form [formGroup]="loginForm" class="boxed-content flex-column gap padding-large" style="width: 100%; max-width: 360px;">

        <label for="id">{{"ID" | translate | separateText}}</label>
        <input id="id" name='id' formControlName="id" maxlength='32' required>

        <label for="password">{{"パスワード" | translate | separateText}}</label>
        <input type='password' id="password" name='password' formControlname='password' maxlength='64' minlength="8"
            required>
        <hr />
        <button type="button" (click)="Login()">
            {{"ログインする" | translate | separateText}}
        </button>

        <button type="button"  (click)="Login()">
            {{"Sign In With Google" | translate}}
        </button>
        <br>
    </form>
    <br />
    <a routerLink="..">{{"Actions.PrevPage" | translate | separateText}}</a>
    <br />
</div>