<!-- 全站用指示器-->
<app-loading *ngIf="loading"></app-loading>

<!-- 全局UI -->
<div class="global-ui">
    <div class="container">
        <div id="RayDebug">
        </div>
        <!-- 創龍曆 -->
        <div id='Ray1' *ngIf="Ray1Open">
            @if (isProgressLoveChk) {
            <img alt="dragon-calendar" src='/assets/imgs/font14.gif'>
            }
            @else {
            <!-- 創龍曆XXXX年 -->
            <div class="flex-row">
                <!-- 創龍曆 -->
                <img alt="dragon-calendar" src='/assets/imgs/font01.gif'>
                <app-number-to-image [number]="year"></app-number-to-image>
                <!-- 數字 -->
                <img alt="year" src='/assets/imgs/font11.gif'>
            </div>
            <br />
            <!-- XXX龍月X日-->
            <div class="flex-row">
                <!-- 龍名-->
                <img alt="monthName" src="/assets/imgs/{{monthImageName}}.gif" />
                <!-- 月 -->
                <img alt="month" src='/assets/imgs/font02.gif'>
                <app-number-to-image [number]="day"></app-number-to-image>
                <img alt="day" src='/assets/imgs/font03.gif'>
            </div>
            }
        </div>

        <!-- 通信機畫面 -->
        <div id="Ray7" class="boxed-content game-bg padding-large" *ngIf="noticeContent.length > 0">
            {{noticeTitle}}
            <hr *ngIf="noticeTitle.length > 0">
            <small> {{noticeContent}}</small>
        </div>

        <!-- 入侵用通信機-->
        <div id="Ray72" class="boxed-content game-bg padding-large" *ngIf="noticeContent2">
            <span style="color: #ff5555;">GAME SYSTEM WARNING !!</span>
            <hr />
            <small [innerHTML]="noticeContent2"> </small>
        </div>

        <!-- 詢問視窗 -->
        <div id="Ray8" *ngIf="confirmContent" (click)="$event.stopPropagation();"
            (keypress)="$event.stopPropagation();">
            <div class="flex-column boxed-content game-bg padding-large gap"
                style="max-width: 100%; max-height: 100%;">
                <ng-container *ngIf="confirmTitle">
                    <b>{{confirmTitle}}</b>
                    <hr />
                </ng-container>
                <div class="full-width padding-large" style="overflow: auto; height: fit-content; max-height: 100%;">
                    <span>{{confirmContent}}</span>
                </div>
                <br />
                <div class="flex-row gap-large" style="justify-content: end; padding-left: var(--var-base-font-size);">
                    <a (click)="ConfirmResult(0);confirmContent = ''" *ngIf="confirmStyle">
                        <img class="full-width" alt="NO" src="/assets/imgs/btn_no.gif" />
                    </a>
                    <a (click)="ConfirmResult(1);confirmContent = ''">
                        <img class="full-width" alt="OK" src="/assets/imgs/btn_ok.gif" />
                    </a>
                </div>
            </div>
        </div>
        <!-- 遊戲設定-->
        <div *ngIf="settingsOn" id="RaySettings" (click)="$event.stopPropagation();"
            (keypress)="$event.stopPropagation();">
            <div class="boxed-content game-bg flex-column padding-large gap full-height" style="margin: auto;">
                <b style="text-align: center;">- SETTINGS -</b>

                <div class="flex-column gap full-height" style="overflow: auto;">
                    <!-- 語言-->
                    <span>{{'Settings.Language.Title' | translate}}</span>
                    <hr />
                    <app-language></app-language>
                    <a href="https://docs.google.com/spreadsheets/d/174XiqkVygaFVGWgWDkcL3GSSBeXTtAf4J6uAhldkK60/edit?usp=sharing"
                        target="_blank">
                        {{'Settings.Language.HelpTranslate' | translate}}
                    </a>
                    <br>
                    <!-- 聲音 -->
                    <span>Audio</span>
                    <hr />
                    <button (click)="toggleAudio()">
                        {{"Settings.Audio.Title" | translate}}：
                        {{isAudioON ? 'ON':'OFF'}}</button>
                    <br />
                    <!-- 文字速度-->
                    <div class="flex-row gap">
                        <span>{{'Settings.TextSpeed.Title' | translate}}</span>
                        <select [(ngModel)]="textSpeed">
                            <option [value]="0">{{'Settings.TextSpeed.Value.Instant' | translate}}</option>
                            <option [value]="0.25">{{'Settings.TextSpeed.Value.Fastest' | translate}}</option>
                            <option [value]="0.5">{{'Settings.TextSpeed.Value.Faster' | translate}}</option>
                            <option [value]="1">{{'Settings.TextSpeed.Value.Normal' | translate}}</option>
                            <option [value]="1.5">{{'Settings.TextSpeed.Value.Slower' | translate}}</option>
                            <option [value]="2">{{'Settings.TextSpeed.Value.Slowest' | translate}}</option>
                        </select>
                    </div>
                    <!-- 現代化 -->
                    <br />
                    <span>{{'Settings.Theme.Title' | translate}}</span>
                    <hr />
                    <select [(ngModel)]="theme">
                        <option [value]="''">Original Style</option>
                        <option [value]="'new'">New Style</option>
                    </select>
                    <br />
                    <span>{{'Settings.Reinstall.Title' | translate}}</span>
                    <hr />
                    <span>{{'Settings.Reinstall.Description' | translate}}</span>
                    <button (click)="ForceUpdate()">Force update</button>
                    <br />
                </div>
                <hr />
                <div class="flex-row gap-large" style="justify-content: end;">
                    <a (click)="settingsOn=false;">
                        <img class="full-width" alt="OK" src="/assets/imgs/btn_ok.gif" />
                    </a>
                </div>
            </div>
        </div>
        <!-- 錯誤顯示 -->
        <div id="RayEX_ErrorHandler" class="boxed-content transparant-dark-bg" *ngIf="error.length > 0">
            <div class="boxed-content game-bg flex-column padding-large " style="max-width: 100%; max-height: 100%;;">
                <span>ERROR</span>
                <hr />
                <div class="flex-column full-height" style="overflow:auto">
                    @for (err of error; track $index) {
                    <span>{{err.message}}</span>
                    <br />
                    <small style="white-space: break-spaces;">
                        {{err.stack}}
                    </small>
                    }
                </div>
                <hr />
                <button (click)="error = [];" (keypress)="error= [];">OK</button>
            </div>
        </div>
    </div>
    <!-- 全局畫面效果 -->
    @if (theme) {
    <div id="RayEX_Radial-effect" [ngClass]="{repeat: RadialRepeat, active: RadialColor.length > 0}"
        [ngStyle]="{'--var-color': RadialColor, '--var-interval' : RadialInterval}">
    </div>
    }
</div>
<router-outlet></router-outlet>