:host {
    display: block;
    width: 100%;
    height: 100%;
}

/** 全局UI容器 */
div.global-ui {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    overflow: hidden;
    z-index: 10;
    color: white;
}

div.global-ui>div.container {
    contain: content;
    height: 100%;
}

/** 創龍曆*/
div#Ray1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    opacity: 0;
    animation: Ray1ContainerFadeInOut 5s linear;

    ::ng-deep img,
    img {
        opacity: 0;
        animation: Ray1ImageFadeInOut 5s linear;

    }
}


@keyframes Ray1ImageFadeInOut {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes Ray1ContainerFadeInOut {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/** 通信機UI*/
div#Ray7 {
    position: absolute;
    left: 16px;
    top: 16px;
    z-index: 2;
}

div#Ray7:after,
div#Ray72:after {
    content: '■';
    animation: 3s Ray7Blinking linear infinite;
}

div#Ray72:after  {
    color: red;
}
/** 通信機UI2_入侵用*/
div#Ray72 {
    position: absolute;
    right: 16px;
    top: 112px;
    z-index: 2;
}

@keyframes Ray7Blinking {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        visibility: visible;
    }

    5%,
    10%,
    15%,
    25%,
    30%,
    35%,
    45%,
    50%,
    55%,
    65%,
    70%,
    75%,
    85%,
    90%,
    95% {
        visibility: hidden;
    }
}

/** 詢問視窗 */
div#Ray8 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}

div#Ray8 a {
    cursor: pointer;
}

/** 錯誤顯示 */
div#RayEX_ErrorHandler {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    margin: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 10;
    pointer-events: all;
}

div#RayDebug {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    opacity: 0.9;
    pointer-events: none;
    z-index: 10;
}

div#RaySettings {
    position: absolute;
    z-index: 2;
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.5);
}

div#RayEX_Radial-effect {
    background: transparent;
    transition: var(--var-interval) ease-out;
    opacity: 0;
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

div#RayEX_Radial-effect.active {
    opacity: 0.3;
    background: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, var(--var-color) 100%);
    animation: var(--var-interval) AnimRayEXRadialEffect ease-out;
}

div#RayEX_Radial-effect.active.repeat {
    animation: var(--var-interval) AnimRayEXRadialEffect ease-in-out infinite;
}

@keyframes AnimRayEXRadialEffect {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }
}