:host {
    display: block;
    width: 100%;
    height: 100%;
}

div#Ray8 {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: auto;
}

div#Ray8.active {
    display: block;

}