<div class="container flex-column">
    <img alt="index_top" src="/assets/imgs/index/index_top.gif" />
    <small>(病竜保護 支援計画 関連記事とインタビュー)</small>

    <div class="boxed-content flex-column" style="padding: 16px;">
        <b>ポ イ ル ト ッ プ に つ い て</b><small>　　(峰竜社新聞より)</small><br>
        <div class="flex-row column-480">
            <div>
                <img alt="index_Doc02" src="/assets/imgs/index/index_Doc02.jpg" />
            </div>
            <div class="flex-column">
                <small>
                    　ポイルトップは、人口二万程度の小さな港町です。<br />
                    　漁業を除いては特筆すべき産業はありませんが、この世界では
                    珍しく異種族間の交流が盛んで、竜族をはじめとして、人間、獣
                    人族が共に生活しており、「人と竜が共に歩む街」という愛称で
                    呼ばれています。<br />
                    　また、ポイルトップ周辺には古代遺跡も数多く点在し、このサ
                    イトの全宇宙的な展開を可能にした「量子ネットワークシステム」
                    も、そこから発掘されたアーティファクトからつくり出されたのです。<br />
                    　こうした条件を下敷きに、私たちはここに「病竜の保護と支援」
                    を置くことにしたのです。<br />
                </small>
                <br />
            </div>
        </div>
        <div class="flex-row column-480">
            <div>
                <img alt="index_Doc03" src="/assets/imgs/index/index_Doc03.jpg" />
            </div>
            <div class="flex-column">
                <small>
                    世話係ニエル氏の言葉<br><br>

                    「え、えっと……何を言えばいいんっすか？
                    ボク、こういうのは苦手っすよ……」<br />
                    「あー……ボクがお世話してる仔竜たちは、今までにいろいろあっ
                    た仔たちだけど、みんな元気っす！
                    昨日もいたずらされて本当に困ったっすよ。ご飯もよく食べるし……え？
                    もうスペースがない？」<br />
                    「とっとにかく、ボクたちみんな待ってるっす。ボランティアとか、
                    そういう固いことはヌキにして、ボクや、仔竜たちと友だちになって
                    ほしいっす。うまくいかないこともあるだろうけど、ボクたちと、
                    仔竜と、あなたとで仲良くやっていこうっす！」<br />

                </small>
                <br />
                <a routerLink="/">[＜- 前 ペ ー ジ へ 戻 る]</a>
            </div>
        </div>
    </div>
</div>