<div class="container flex-column">
    <img alt="index_top" src="/assets/imgs/index/index_top.gif" />
    <small>(病竜保護 支援計画 関連記事とインタビュー)</small>

    <div class="boxed-content flex-column" style="padding: 16px;">
        <b>{{"IndexDoc3.Title" | translate:{Poirutoppu:('Noun.Poirutoppu' | translate)}
            |separateText}}</b><small>　　(峰竜社新聞より)</small><br>
        <div class="flex-row column-480">
            <div>
                <img alt="index_Doc02" src="/assets/imgs/index/index_Doc02.jpg" />
            </div>
            <div class="flex-column">
                <small>
                    {{"IndexDoc3.Description1" | translate:{Poirutoppu:('Noun.Poirutoppu' | translate),
                    QuantumNetworkSystem: ('Noun.QuantumNetworkSystem' | translate) } }}
                </small>
                <br />
            </div>
        </div>
        <div class="flex-row column-480">
            <div>
                <img alt="index_Doc03" src="/assets/imgs/index/index_Doc03.jpg" />
            </div>
            <div class="flex-column">
                <small>
                    {{"IndexDoc3.Description2" | translate:{Nieru:('Noun.Nieru' | translate) } }}
                </small>
                <br />
                <a routerLink="/">{{'Actions.PrevPage' | translate}}</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />