<div class="container">
  <div class="boxed-content game-bg full-width full-height flex-column padding-large gap" style="overflow: auto;">
    <h2>Battle Test</h2>

    <span>Local</span>
    <hr />
    <button (click)="goToBattle('-sabaku')">おとうさん (-sabaku)</button>
    <button (click)="goToBattle('-boss01')">神獣ボルガノドン (-boss01)</button>
    <button (click)="goToBattle('-boss02')">神獣パイロヒドラ (-boss02)</button>
    <button (click)="goToBattle('-boss03')">神獣ギガウインド (-boss03)</button>
    <button (click)="goToBattle('-boss04')">神獣ヘイズロック (-boss04)</button>
    <button (click)="goToBattle('-Forest')">精霊獣トピリア (-Forest)</button>
    <button (click)="goToBattle('-Forest2')">マンドレイク (-Forest2)</button>
    <button (click)="goToBattle('-iseki')">番竜ゾンドドレイク (-iseki)</button>
    <button (click)="goToBattle('-rag')">古代霊ケツァルコアトル (-rag)</button>
    <button (click)="goToBattle('-koj')">ヴァンパネラ (-koj)</button>
    <button (click)="goToBattle('-hei')">管狐 (-hei)</button>
    <button (click)="goToBattle('-last')">シュブニグラス (-last)</button>
    <br />
    <br />
    <a routerLink="../" style="text-align: center;">{{'Actions.PrevPage' | translate}}</a>
  </div>
</div>