<div class="container flex-column">
    <img alt="index_top" src="/assets/imgs/index/index_top.gif" />
    <div class="flex-row">
        <div class="flex-column min-480 padding"
            style="background-color: #887766; word-break: keep-all; text-wrap: nowrap;">
            <img class="margin-auto" alt="char00" src="/assets/imgs/char00.gif" />
            <br />
            <small class="white">ポイルトップの街</small>
            <span class="white" style="font-size: large;">{{"Noun.SickDragonProtectAssociation" | translate}}</span>
            <hr class="full-width" />
            <small>
                【住所】<br>
                　〒A5-960-9631<br>
                　フィルト国 スィード地方<br>
                　ポイルトップ7番街5<br>
                　街立 遺跡管理局<br>
                　施設A-2F<br>
                <br>
                【連絡】<br>
                　魔法便: 01-0055(代表)<br>
                　伝鳩便: 01-0056(共通)<br>
                <br>
                【開門時間】<br>
                　平日 08:00-20:00<br>
                　休日 10:00-16:45<br>
                <br />
            </small>
        </div>
        <div class="flex-column" style="padding-left:16px;padding-right: 16px;">

            <b><!-- あ な た も 竜 を 救 っ て み ま せ ん か ？--> {{"Index.Title" |translate | separateText}}</b>
            <br />
            <img class="full-width" alt="index_title" src="/assets/imgs/index/index_title.gif">
            <small>
                <!-- 
                　現在、奇病の流行によって親をなくした仔竜が全世界で急増しており、深刻な問題となっています。
                そこで、私たち病竜保護協会では、地球上にもサイトを開き、ブラウザを通じて、そのような仔竜を
                無償で世話していただけるボランティアを募集しています。

                皆さんのご応募とご参加を、心よりお待ちしています。-->
                {{"Index.Description" |translate}}
                <br>
            </small>
            <br>
            <div class="flex-row full-width" style="justify-content: end;">
                <app-language></app-language>
            </div>
            <br />
            <div class="boxed-content flex-row column-480" style="padding: 16px;">

                <div class="flex-column full-width">
                    <ul style="list-style-type: none;">
                        <li>
                            <a routerLink="index_doc/1">
                                <small>
                                    <!-- ボランティアネットとは？-->
                                    ◆ {{"Index.Link_VolunteerNet" | translate:{VolunteerNet:
                                    ('Noun.VolunteerNet' | translate)} }}
                                </small>
                            </a>
                        </li>
                        <li>
                            <a routerLink="index_doc/2">
                                <small>
                                    <!-- サイト公開のきっかけ-->
                                    ◆ {{"Index.Link_SitePublishMotivation" | translate}}
                                </small>
                            </a>
                        </li>
                        <li>
                            <a routerLink="index_doc/3">
                                <small>
                                    <!--ポイルトップについて-->
                                    ◆ {{"Index.Link_Poirutoppu" | translate:{Poirutoppu:
                                    ('Noun.Poirutoppu' | translate)} }}
                                </small>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="flex-column full-width" style="word-break: keep-all;text-wrap: nowrap;">
                    <ul style="list-style-type: none;">
                        <li><small>● {{'Index.Action_NewGame' | translate}}<!--は じ め か ら--></small></li>
                        <li><small>● {{'Index.Action_Continue' | translate}}<!-- 続 き か ら--> </small></li>
                        <li><small><a routerLink="credits">● CREDITS</a></small></li>
                    </ul>
                </div>
            </div>
            <br />
        </div>
    </div>
    <div class="flex-column center full-width">
        <small>本サイトは<span style="color:red;">ファンメイドリメイク</span>です，公式サイトとは関係がありません。</small>
        <a href="http://www.game-can.com/kaze2.htm" target="_blank"> 原作サイトへ</a>
    </div>
</div>