<div class="container flex-column">
    <img alt="index_top" src="/assets/imgs/index/index_top.gif" />
    <div class="flex-row column-reverse-480">
        <div class="flex-column padding" style="background-color: #887766; word-break: keep-all; text-wrap: nowrap;">
            <div class="full-width">
                <img class="margin-auto" alt="char00" src="/assets/imgs/char00.gif" />
            </div>
            <small class="white">ポイルトップの街</small>
            <span class="white large">{{"Noun.SickDragonProtectAssociation" | translate}}</span>
            <hr />
            <small>
                【住所】<br>
                　〒A5-960-9631<br>
                　フィルト国 スィード地方<br>
                　ポイルトップ7番街5<br>
                　街立 遺跡管理局<br>
                　施設A-2F<br>
                <br>
                【連絡】<br>
                　魔法便: 01-0055(代表)<br>
                　伝鳩便: 01-0056(共通)<br>
                <br>
                【開門時間】<br>
                　平日 08:00-20:00<br>
                　休日 10:00-16:45<br>
                <br />
            </small>
        </div>
        <div class="flex-column" style="padding-left:16px;padding-right: 16px;">
            <br />
            <b><!-- あ な た も 竜 を 救 っ て み ま せ ん か ？--> {{"Index.Title" |translate | separateText}}</b>
            <br />
            <img class="full-width" alt="index_title" src="/assets/imgs/index/index_title.gif">
            <small>
                <!-- 
                　現在、奇病の流行によって親をなくした仔竜が全世界で急増しており、深刻な問題となっています。
                そこで、私たち病竜保護協会では、地球上にもサイトを開き、ブラウザを通じて、そのような仔竜を
                無償で世話していただけるボランティアを募集しています。

                皆さんのご応募とご参加を、心よりお待ちしています。-->
                {{"Index.Description" |translate}}
                <br>
            </small>
            <br>
            <br />
            <div class="boxed-content flex-row column-480" style="padding: 16px;">
                <div class="flex-column full-width" style="word-break: keep-all;text-wrap: nowrap;">
                    <ul>
                        <li>
                            <a class="outline-text" routerLink="new_save" replaceUrl="true">
                                ● {{(newGamePlus ? 'Index.Action_NewGamePlus': 'Index.Action_NewGame' ) | translate |
                                separateText}}
                                <!--は じ め か ら-->
                                <!--二周目以降：？ ？ ？ ？ か ら -->
                            </a>
                        </li>
                        <li>
                            <a class="outline-text" routerLink="login" replaceUrl="true">
                                ● {{'Index.Action_Continue' |translate | separateText}}<!-- 続 き か ら-->
                            </a>
                        </li>
                        <li>
                            <a class="outline-text" (click)="settingsOn = true;">
                                ● SETTINGS
                            </a>
                        </li>
                    </ul>
                </div>
                <hr class="max-480" />
                <div class="flex-column full-width">
                    <ul>
                        <li>
                            <a routerLink="index_doc/1" replaceUrl="true">
                                <small>
                                    <!-- ボランティアネットとは？-->
                                    ◆ {{"Index.Link_VolunteerNet" | translate:{VolunteerNet:
                                    ('Noun.VolunteerNet' | translate)} }}
                                </small>
                            </a>
                        </li>
                        <li>
                            <a routerLink="index_doc/2" replaceUrl="true"> 
                                <small>
                                    <!-- サイト公開のきっかけ-->
                                    ◆ {{"Index.Link_SitePublishMotivation" | translate}}
                                </small>
                            </a>
                        </li>
                        <li>
                            <a routerLink="index_doc/3" replaceUrl="true">
                                <small>
                                    <!--ポイルトップについて-->
                                    ◆ {{"Index.Link_Poirutoppu" | translate:{Poirutoppu:
                                    ('Noun.Poirutoppu' | translate)} }}
                                </small>
                            </a>
                        </li>
                        <li><small><a routerLink="credits" replaceUrl="true">● CREDITS</a></small></li>
                    </ul>
                </div>

            </div>
            <br />
        </div>
    </div>
    <br />

    <!-- 攻略網站-->

    <!-- 
        攻略
        https://www5e.biglobe.ne.jp/~knight_1/kazauta2/kazauta2.html 

        音檔提供
        https://w.atwiki.jp/gamemusicbest100/pages/7739.html
    -->
    <div class="flex-column center full-width padding-large">
        <small>本サイトは<span style="color:red;">ファンメイドリメイク</span>です，公式サイトとは関係がありません。</small>
        <br />
        <small><a href="http://www.game-can.com/kaze2.htm" target="_blank">[＜原作サイト＞]</a></small>
    </div>
    <br />
</div>

