.anim-fadeIn {
    animation-name: fadeIn;
    /** 預設三秒*/
    pointer-events: none;
}

.anim-fadeOut {
    animation-name: fadeOut;
    /** 預設三秒*/
    pointer-events: none;
}

.anim-blinking {
    animation-name: blinking;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.anim-shock {
    animation-name: shock;
    animation-timing-function: ease-out;
}

.anim-slideInFromLeft {
    animation-name: slideInFromLeft;
    animation-timing-function: ease-out;
}

.anim-slideInFromRight {
    animation-name: slideInFromRight;
    animation-timing-function: ease-out;
}

.anim-slideOutToLeft {
    animation-name: slideOutToLeft;
    animation-timing-function: ease-out;
}

.anim-slideOutToLeftPeek {
    animation-name: slideOutToLeftPeek;
    animation-timing-function: ease-out;
    transform: translateX(-50%);
}

.anim-slideOutToRight {
    animation-name: slideOutToRight;
    animation-timing-function: ease-out;
}

.anim-playerDamage {
    animation-name: playerDamagedAnim;
    animation-timing-function: ease-out;
}

.anim-earthquake {
    animation-name: shake;
    animation-timing-function: linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes shock {
    0% {
        transform: scale(1);
    }

    5% {
        transform: scale(1.25);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes blinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOutToLeft {
    0% {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slideOutToLeftPeek {
    0% {
        transform: translateX(0);
    }

    50%,
    75% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}


@keyframes playerDamagedAnim {
    0% {
        transform: scale(1);
        background-color: rgba(229, 0, 0, 0.5);
    }

    5% {
        transform: scale(calc(1 + max(0.05, min(calc(var(--var-damage-percent)*0.15), 0.1))));
    }

    to {
        transform: scale(1);
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes damageText {

    0%,
    75% {
        opacity: 1;
    }

    0% {
        transform: scale(1.25);
    }

    25% {
        transform: scale(1);
    }

    to {
        opacity: 0;
    }
}

@keyframes waving {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(0.8)
    }

    to {
        filter: brightness(1);
    }
}

@keyframes earthquake {

    0%,
    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90%,
    100% {
        transform: translateY(0%);
    }

    5%,
    15%,
    25%,
    35%,
    45%,
    55%,
    65%,
    75%,
    85%,
    95% {
        transform: translateY(5%);
    }
}