.anim-fadeIn {
    opacity: 1;
    animation-name: fadeIn;
    animation-timing-function: steps(30);
    /** 預設三秒*/
    animation-duration: 3s;
    pointer-events: none;
}

.anim-fadeOut {
    opacity: 0;
    animation-timing-function: steps(30);
    animation: fadeOut 3s steps(30);
    /** 預設三秒*/
    animation-duration: 3s;
    pointer-events: none;
}

.anim-blinking {
    animation-name: blinking;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.anim-shock {
    animation-name: shock;
    animation-timing-function: ease-out;
}

.anim-slideInFromLeft {
    animation-name: slideInFromLeft;
    animation-timing-function: ease-out;
}

.anim-slideInFromRight {
    animation-name: slideInFromRight;
    animation-timing-function: ease-out;
}

.anim-playerDamage {
   animation-name: playerDamagedAnim;
   animation-timing-function: ease-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes shock {
    0% {
        transform: scale(1);
    }

    5% {
        transform: scale(1.25);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes blinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}


@keyframes playerDamagedAnim {
    0% {
        transform: scale(1);
        background-color: rgba(229, 0, 0, 0.5);
    }

    5% {
        transform: scale(calc(1 + max(0.05, min(calc(var(--var-damage-percent)*0.15), 0.1))));
    }

    to {
        transform: scale(1);
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes damageText {

    0%,
    75% {
        opacity: 1;
    }

    0% {
        transform: scale(1.25);
    }

    25% {
        transform: scale(1);
    }

    to {
        opacity: 0;
    }
}

@keyframes waving {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(0.8)
    }
    to {
        filter: brightness(1);
    }
}