<div class="container flex-column " style="align-items: center;">
    <br />
    <b style="color:#ffaa88;text-align: center;">{{"ゲーム補助ウインドウ" | separateText}}</b>
    <br />
    <div class="boxed-content flex-column full-width padding">

        <span style="text-align: center;">
            素材提供サイト、ならびに開発協力者のリンクです。
        </span>
        <br />
        <!-- ゲーム使用素材提供 -->
        <span>{{'Credits.GameAssets_Title' | translate}}</span>
        <hr />
        <table aria-describedby="ゲーム使用素材提供">
            <thead>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td><a href="http://www.s-t-t.com/wwl/index.html" target="blank">WEB WAVE LIB</a>
                    </td>
                    <td><small>非現実系効果音</small></td>
                </tr>
                <tr>
                    <td><a href="http://www2.jan.ne.jp/~logcut/" target="blank">It's Cool YOME</a></td>
                    <td><small>PC国民機の起動音</small></td>
                </tr>
                <tr>
                    <td><a href-="http://home.r06.itscom.net/boogie/" target="blank">Aqua Boogie
                            Nation.</a></td>
                    <td><small>Sound Beep</small></td>
                </tr>
                <tr>
                    <td><a href="http://www.soundoffice.com/se/" target="blank">Sound Creator eyra</a>
                    </td>
                    <td><small>Sound Beep</small></td>
                </tr>
                <tr>
                    <td><a href="https://profcard.info/u/Juq5WsKVkERjcnSaSxAwSr5s68P2" target="blank">MUSIC CUBE(リク様)</a>
                    </td>
                    <td><small>BGM MIDI</small></td>
                </tr>
                <tr>
                    <td><a href="http://www.ismusic.ne.jp/teiru/" target="blank">G.TaLe様</a></td>
                    <td><small>ボス戦/病気時 MIDI</small></td>
                </tr>

                <tr>
                    <td><a href="http://www.freemid.jp/" target="blank">著作権フリーの音楽の部屋</a></td>
                    <td><small>BGM MIDI</small></td>
                </tr>
                <tr>
                    <td><a href="http://www.tam-music.com/index.html" target="blank">TAM Music
                            Factory</a></td>
                    <td><small>BGM MIDI</small></td>
                </tr>
                <tr>
                    <td><a href-="javascript:alert('このサイトは音楽素材提供サイトですが、一部グロテスクなコンテンツが含まれています。\nそういうものが駄目な方やお子様は閲覧を推奨致しません。問題のない方のみごらん下さい。');location.href='http://jove.prohosting.com/~mukuro/menu.htm';"
                            target="blank">Abandoned Dead</a></td>
                    <td><small>BGM MIDI</small></td>
                </tr>
                <tr>
                    <td><a href="http://www.campus.ne.jp/%7Eishigami/index.html" target="blank">鷹月ぐみな情報局2号館</a></td>
                    <td><small>BGM MIDI</small></td>
                </tr>
                <tr>
                    <td><a href="mailto:wring@catnip.freemail.ne.jp">BLACKRAY</a></td>
                    <td><small>BGM MIDI</small></td>
                </tr>
                <tr>
                    <td><a href="mailto:mikusigi@m1.interq.or.jp">みくしぎまさき</a></td>
                    <td><small>BGM MIDI</small></td>
                </tr>
                <tr>
                    <td><a href="http://www.vividcar.com/" target="blank">VividCar.com</a></td>
                    <td><small>戦闘背景画像</small></td>
                </tr>
                <tr>
                    <td><a href="http://uk.geocities.com/sugar777pe/" target="blank">Wired Explorer</a>
                    </td>
                    <td><small>ミニゲーム</small></td>
                </tr>
                <tr>
                    <td><a href="https://soundeffect-lab.info/sound/environment/" target="blank">(NEW) 効果音ラボ</a>
                    </td>
                    <td><small>海SE</small></td>
                    
                </tr>
            </tbody>
        </table>
        <br>
        <span>{{'Credits.Graphics_Title' | translate}}</span>
        <hr>
        <div class="flex-row column-480">
            <table class="full-width" aria-describedby="グラフィック製作者">
                <thead>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="http://ldra.net" target="blank">G.River</a></td>
                        <td><small>11種族</small></td>
                    </tr>
                    <tr>
                        <td>ユウホ</td>
                        <td><small>4種族</small></td>
                    </tr>
                    <tr>
                        <td><a href="http://yokotyo.sub.jp/" target="blank">ツカモト</a></td>
                        <td><small>3種族</small></td>
                    </tr>
                    <tr>
                        <td><a href="http://www.pinky.ne.jp/~aogachou/" target="blank">青鵞鳥</a></td>
                        <td><small>7種族</small></td>
                    </tr>
                    <tr>
                        <td><a href="http://yokai.pos.to/" target="blank">ＧＷ</a></td>
                        <td><small>13種族/BOSS</small></td>
                    </tr>
                </tbody>
            </table>
            <table class="full-width" aria-describedby="グラフィック製作者">
                <thead>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td><a href-="http://www.geocities.jp/papyrus_n/index.html" target="blank">パピルス</a></td>
                        <td><small>6種族/街人</small></td>
                    </tr>
                    <tr>
                        <td>がふたま</td>
                        <td><small>2種族</small></td>
                    </tr>
                    <tr>
                        <td><a href="http://www.dragon-spirit.com/kitora/" target="blank">きとら</a></td>
                        <td><small>3種族</small></td>
                    </tr>
                    <tr>
                        <td><a href="http://beastcanyon.net/" target="blank">カゲトラ</a></td>
                        <td><small>4種族/レギオン</small></td>
                    </tr>
                    <tr>
                        <td>大巳たかむら</td>
                        <td><small>2種族</small></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <span>{{'Credits.MessageScript_Title' | translate}}</span>
        <hr>
        <div class="flex-row column-480">
            <table style="width: 100%;" aria-describedby="メッセージスクリプト製作者">
                <thead>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td>闇竜・四角正</td>
                        <td><small>シナリオ補佐</small></td>
                    </tr>
                    <tr>
                        <td>グラン</td>
                        <td><small>孤竜応答</small></td>
                    </tr>
                    <tr>
                        <td><a href="http://www.dragon-spirit.com/kitora/" target="blank">きとら</a></td>
                        <td><small>文章校正</small></td>
                    </tr>
                    <tr>
                        <td><a href="http://bluedragon.dragon-breath.net/" target="blank">竜太&amp;BlueDragon</a></td>
                        <td><small>ＤＢ制御プログラム</small></td>
                    </tr>
                </tbody>
            </table>
            <table style="width: 100%;" aria-describedby="メッセージスクリプト製作者">
                <thead>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td>ユトラル</td>
                        <td><small>孤竜応答</small></td>
                    </tr>
                    <tr>
                        <td>PLUMP DOG</td>
                        <td><small>メインシナリオ</small></td>
                    </tr>
                    <tr>
                        <td><a href="http://www.dragon-spirit.com/garyu/" target="blank">牙竜</a></td>
                        <td><small>メインプログラム</small></td>
                    </tr>
                    <tr>
                        <td><a href="http://www.dragon-spirit.com/garyu/" target="blank">牙竜</a></td>
                        <td><small>企画/製作/開発元</small></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- 重置版新增-->
        <br>
        <!-- <span>{{'Credits.MessageScript_Title' | translate}}</span> -->
        <hr>

        <br />
        <br />
        <a routerLink="/" style="text-align: center;">{{'Actions.PrevPage' | translate}}</a>
        <br />
        <br />
    </div>
</div>