<div class="container">
    <div class="boxed-content game-bg full-width full-height flex-column padding-large gap" style="overflow: auto;">
        <h2>Event Test</h2>

        <span>Event</span>
        <hr />

        <button (click)="goToWelcome()" [disabled]="waiting">Startup</button>
        <button (click)="goDialog('Opening')" [disabled]="waiting">Opening</button>
        <button (click)="goDialog('Miss')" [disabled]="waiting">Miss</button>
        <button (click)="goDialog('Eventend')" [disabled]="waiting">Eventend</button>
        <button (click)="goDialog('LoveChk')" [disabled]="waiting">LoveChk</button>
        <button (click)="goDialog('Games04', {lv: 1,debugMenu: true})" [disabled]="waiting">神獸寺廟lv1</button>
        <button (click)="goDialog('Games04a', {lv: 1,debugMenu: true})" [disabled]="waiting">神獸寺廟lv1 - END</button>
        <button (click)="goDialog('Games07', {debugMenu: true})" [disabled]="waiting">滅びの都ヒディール</button>
        <button (click)="goDialog('Games07', {lv: 1,debugMenu: true})" [disabled]="waiting">滅びの都ヒディール - END</button>
        <button (click)="goDialog('Quest01',{debugMenu: true})" [disabled]="waiting">ト ピ リ ア の 森</button>
        <button (click)="goDialog('Quest01a',{debugMenu: true})"[disabled]="waiting">ト ピ リ ア の 森 - END</button>
        <br />

        <span>Ending</span>
        <hr />
        <button (click)="goDialog('Ending1')" [disabled]="waiting">Ending 1</button>
        <button (click)="goDialog('Ending2')" [disabled]="waiting">Ending 2</button>

        <br />

        <span>Global events</span>
        <hr />
        <button (click)="Ray1Test()" [disabled]="waiting">Dragon calendar</button>
        <button (click)="noticeTest(0)" [disabled]="waiting">Notice - System Update</button>
        <br />
        <a *ngIf="!waiting" routerLink="../" style="text-align: center;">{{'Actions.PrevPage' | translate}}</a>
    </div>
</div>
@if (debug) {
<app-save-data-editor></app-save-data-editor>
}