<div class="container">
    <div class="boxed-content game-bg full-width full-height flex-column padding-large gap" style="overflow: auto;">
        <h2>Event Test</h2>

        <span>Event</span>
        <hr />

        <button (click)="goToWelcome()" [disabled]="waiting">Startup</button>
        <button (click)="goDialog('Opening')" [disabled]="waiting">Opening</button>
        <button (click)="goDialog('Miss')" [disabled]="waiting">Miss</button>
        <button (click)="goDialog('Eventend')" [disabled]="waiting">Eventend</button>
        <button (click)="goDialog('LoveChk')" [disabled]="waiting">LoveChk</button>

        <button (click)="goDialog('Games02')" [disabled]="waiting">研究者的小屋</button>
        <button (click)="goDialog('Games04', {lv: 1,debugMenu: true})" [disabled]="waiting">神獸寺廟lv1</button>
        <button (click)="goDialog('Games04a', {lv: 1,debugMenu: true})" [disabled]="waiting">神獸寺廟lv1 - END</button>
        <button (click)="goDialog('Games07', {debugMenu: true})" [disabled]="waiting">滅びの都ヒディール</button>
        <button (click)="goDialog('Games07', {lv: 1,debugMenu: true})" [disabled]="waiting">滅びの都ヒディール - END</button>
        <button (click)="goDialog('Games08', {debugMenu: true})" [disabled]="waiting">滅びの都ヒディール BOSS</button>
        <button (click)="goDialog('Games08a', {lv: 1,debugMenu: true})" [disabled]="waiting">滅びの都ヒディール BOSS - After</button>

        <button (click)="goDialog('Quest01',{debugMenu: true})" [disabled]="waiting">ト ピ リ ア の 森</button>
        <button (click)="goDialog('Quest01a',{debugMenu: true})" [disabled]="waiting">ト ピ リ ア の 森 - END</button>

        <button (click)="goDialog('Quest02',{debugMenu: true})" [disabled]="waiting">カザリナ山・幸いの地フッフール</button>

        <button (click)="goDialog('Quest03',{debugMenu: true})" [disabled]="waiting">ドラゴンの古代遺跡</button>
        <button (click)="goDialog('Quest03a',{debugMenu: true})" [disabled]="waiting">ドラゴンの古代遺跡 - END</button>

        <button (click)="goDialog('Quest04',{debugMenu: true})" [disabled]="waiting">幻の浮島ラグナルクス</button>
        <button (click)="goDialog('Quest04a',{debugMenu: true})" [disabled]="waiting">幻の浮島ラグナルクス - END</button>

        <button (click)="goDialog('Quest05',{debugMenu: true})" [disabled]="waiting">ドラゴンの丘</button>

        <button (click)="goDialog('Quest06',{debugMenu: true})" [disabled]="waiting">魔獣の森</button>
        <button (click)="goDialog('Quest06a',{debugMenu: true})" [disabled]="waiting">魔獣の森 - END</button>

        <button (click)="goDialog('Quest07',{debugMenu: true})" [disabled]="waiting">忘れ去られし古城</button>
        <button (click)="goDialog('Quest07a',{debugMenu: true})" [disabled]="waiting">忘れ去られし古城 - END</button>

        <button (click)="goDialog('Quest08',{debugMenu: true})" [disabled]="waiting">サラ平原</button>
        <button (click)="goDialog('Quest08a',{debugMenu: true})" [disabled]="waiting">サラ平原 - END</button>

        <button (click)="goDialog('Quest09',{debugMenu: true})" [disabled]="waiting">街の雑木林</button>
        <button (click)="goDialog('Quest09a',{debugMenu: true})" [disabled]="waiting">街の雑木林 - END</button>

        <button (click)="goDialog('Quest10',{debugMenu: true})" [disabled]="waiting">ウリア大砂漠地帯</button>
        <button (click)="goDialog('Quest10a',{debugMenu: true})" [disabled]="waiting">ウリア大砂漠地帯 - END</button>
        <br />

        <span>Ending</span>
        <hr />
        <button (click)="goDialog('Ending1')" [disabled]="waiting">Ending 1</button>
        <button (click)="goDialog('Ending2')" [disabled]="waiting">Ending 2</button>

        <br />

        <span>Global events</span>
        <hr />
        <button (click)="Ray1Test()" [disabled]="waiting">Dragon calendar</button>
        <button (click)="noticeTest(0)" [disabled]="waiting">Notice - System Update</button>
        <br />
        <a *ngIf="!waiting" routerLink="../" style="text-align: center;">{{'Actions.PrevPage' | translate}}</a>
    </div>
</div>
@if (debug) {
<app-save-data-editor></app-save-data-editor>
}