<div class="container flex-column full-height padding-large gap">

    <br />
    <div class="flex-row" style="justify-content: space-between;">
        <button id="Back" routerLink="../dragongame" [replaceUrl]="true">
            {{"Actions.Back" | translate | separateText}}</button>

        <button id="Start" routerLink="/game/battle" [state]="{battle: selectedBattleID}" [replaceUrl]="true"
            [disabled]="!selectedBattleID">
            {{"Game.Battle.Start" | translate | separateText}}</button>
    </div>
    <div class="dark-bg boxed-content padding-large flex-column gap full-height" style="overflow:auto">

        <span class="large-font">{{leagueName}}</span>
        <br />
        <!-- 玩家列表-->
        @for (p of list; track $index; let index = $index) {
        <label>
            <input type="radio" [value]="p.btlid" [(ngModel)]="selectedBattleID" />
            <span>{{p.yourName}}</span>
            &nbsp;
            <span>竜: {{p.dragonName}}</span>
            <br />
            &nbsp;
            <span>戦闘力: {{p.battlePower}}</span>
            &nbsp;
            <span>属性: {{getBattleDataElementText(p)}}</span>
        </label>
        <br />
        }
    </div>
    <br />
</div>